@import "tailwindcss";

body {
    background-color: lightblue; 
    margin: 0;
};

#root {
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction:column;
    justify-content: center;
}


main {
    flex: 1;
    margin-top: 100px;
}

footer {
    background-color: darkgray;
    height: 50px;
};