@import "tailwindcss";

body {
    margin: 0;
    background-color: skyblue;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100svh;
}

main {
    margin-top: 100px;
    flex: 1
}