.mybutton {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #ff0000;
    border: 2px solid black;
    border-radius: 10px;
    transition: all ease-in-out 0.4s;
}
.mybutton:hover {
    background-color: #00f7ff;
}