.shoppingcard {
    background-color: white;
    border-radius: 10px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    color: black;
    width: 98%;
    /* margin: 5px; */
    display: flex;
    gap: 10px;
    margin: 5px
}

.shopping-img {
    border-color: gray;
    border-style: solid;
    border-width: 0 1px 0 0;
    width: 150px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 15px;
    padding-right: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 10;
    height: 100%;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin: 0
}

.description {
    color: gray;
    margin: 0,
}

.price {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding-top: 20px;
}

.instock-button {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*      
     <div style={{
            backgroundColor: "white", borderWidth: 1, borderColor: "gray",
            borderRadius: 10, color: "black", width: "98%", margin: 5, display: "flex",
        }}> */
/* <img src={imageUrl} style={{ backgroundColor: "black", width: 150, borderTopLeftRadius: 10, borderBottomLeftRadius: 10 }}></img> */

/* <div style={{ display: "flex", flex: 1, justifyContent: "space-between", alignItems: "end", paddingBottom: 15, width: "100%", paddingRight: 20 }}> */
/* <div style={{ display: "flex", flexDirection: "column", alignItems: "start", justifyContent: "center", paddingLeft: 10, height: "100%" }}> */
/* <p style={{ fontSize: 20, fontWeight: "bold", margin: 0 }}> {productName} </p>
                    <p style={{ color: "gray", margin: 0 }}> {description} </p>
                    <p style={{ fontSize: 22, fontWeight: "bold", margin: 0, paddingTop: 20,}}> {price} kr </p>
                </div>
                <button style={{backgroundColor: buttonColor, paddingTop: 10, paddingBottom: 10,}}>{stockText}</button>
            </div>
        </div> */