/* Counter Layout */
    .countContainer {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        max-width: fit-content;
    }

    .countButtonsBox {
        display: flex;
        justify-content: space-between;
        gap: .5rem;
    }

    .countDisplay {
        display: flex;
        justify-content: center;
        background-color: #000;
        border-radius: .5rem;
        font-size: 2rem;
    }

/* Plus Button */
    .countPlus:hover {
        border-color: #b2f781;
    }

    .countPlus:active {
        border-color: #b2f781;
    }

/* Reset Button */
    .countReset:hover {
        border-color: #fff;

    }

/* Minus Button */
    .countMinus:hover {
        border-color: #f78187;
    }

    .countMinus:active {
        border-color: #f78187;
    }