* {
    box-sizing: border-box;
    padding: 0;
    margin : 0;
}

:root {
    --menuWidth : 200px;
}

.dropDownMenuNav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.menuTitleText {

    width:var(--menuWidth);
    text-align: left;
    border : 1px solid white;
    padding: 4px 5px;
    
}

.linkMenuList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    border: 1px solid lightskyblue;
    width: var(--menuWidth);
    border-top: none;
    padding-left: 5px;


}
