@import "tailwindcss";

/* Vi kan bruke globale css variabler i root til å gruppere verdier vi ønsker å gjennbruke */
:root {
  --color-background: #232634;
  --color-foreground: #303446;

  --color-text-primary: #c6d0f5;
}

/* Vi kan bruke @media queries til å påvirke variabler ut i fra brukere sine browser instillinger */
@media (prefers-color-scheme: light) {
  :root {
    --color-background:: #eff1f5;
    --color-foreground: #acb0be;

    --color-text-primary: #4c4f69;
  }
}

@theme {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
}

/* Vi kan angi standarder for styling i html tag, disse vill påvirke alle andre elementer */
html {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-primary);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  min-width: 375px;
  min-height: 100svh;
}

main {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  margin-inline: auto;
  @apply container gap-12 lg:gap-24 pt-16 p-2;
}

footer {
  @apply mt-24
}

section {
  display: flex;
  flex-flow: column nowrap;
  @apply gap-4
}

/* Text regler */
h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}