.header-style {
    width: 100vw;
    height: 50px; 
    background-color: white;
    justify-content: start;
    align-items: start;
}

.header-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    padding: 0, 10, 0, 10;
}

.header-logo {
    height: 50px;
}

.header-text-box {
    width: 100%; 
    height: 50px; 
    align-items: center;
    display: flex;
    justify-content: space-between;    
}

.header-text {
    color: black; 
    font-family: monospace; 
    font-weight: lighter;
    font-size: 23px;
}

.header-menu-button {
    margin-right: 20px;
    height: 40px;
}


          
    