:root
{
    --primaryHeaderBackgroundColor : rgb(232, 216, 216);
}
.flex {
    display: flex;
}
header {
    background-color: var(--primaryHeaderBackgroundColor);
    
}

.defaultHeader {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    width: 100%;

}

 .menuDefaultIcon {
     height: 50px;
}
 

 .logoDefault {
    height: 60px;
 }

.buttonHeader {
    padding: 10px 20px;
    background-color:#BAD3F0;
}
