@import "./Mission.css";
@import "./SortMenu.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --defaultBackground : rgba(221, 221, 221,0.8);
  --primaryFontFamily : "Orbitron";
}

button {
  font-family: var(--primaryFontFamily);
  font-weight: bold;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root
{  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  top: 0;
  padding: 0;
  min-height: 100vh;
  
}

body {

  font-family: var(--primaryFontFamily);
  font-size: 15px;
     background-image: url("src/assets/images/listandpen.jpg");
  background-position: fixed;
  background-size: cover;
  
}

h2 {

  font-size : 25px;
}

header {
  flex-direction: row;
  justify-content: space-between;
  
  align-items: center;
  padding: 0px 40px;
  border-radius : 8px;
  border: 2px solid black;
  position: fixed;
  width: 98%;
  height: 100px;
  top: 0;
  z-index: 10;
  background-color: var(--defaultBackground);
  margin: 15px 0px;
  
}

main {
  position: relative;
  margin-top:120px;
  flex-grow: 1;
  width:100%;

}

footer {
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius : 8px;
  border: 2px solid black;
  width: 98%;
  height: 100px;
  background-color: var(--defaultBackground);
  margin-bottom: 15px;

}


 @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
