@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
    font-family: 'millenia-font';
    src: local('millenia-font'), url('/fonts/millenia-font/MilleniaPersonalUse-w1OB8.ttf');
}

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Averia Sans Libre', sans-serif;
    font-weight: 300;
    font-style: normal;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Darkmode */
    --bg-dark: oklch(0.1 0.025 264);
    --bg: oklch(0.15 0.025 264);
    --bg-light: oklch(0.2 0.025 264);
    --text: oklch(0.96 0.05 264);
    --text-muted: oklch(0.76 0.05 264);
    --highlight: oklch(0.5 0.05 264);
    --border: oklch(0.4 0.05 264);
    --border-muted: oklch(0.3 0.05 264);
    --primary: oklch(0.76 0.1 264);
    --secondary: oklch(0.76 0.1 84);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);

    color: var(--text-muted);
    background-color: var(--bg-dark);
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

#root > * {
    padding: 0 2rem;
}

header {
    background-color: var(--bg);
    border-bottom: 1px solid var(--border);
    border-color: var(--border-muted);
    display: flex;
    justify-content: space-between;
}

main {
    margin: 2rem 0;
    flex-grow: 1;
}

footer {
    height: auto;
    background-color: var(--bg);
    border-top: 1px solid var(--border-muted);
    display: flex;
    justify-content: space-around;
}

footer > * {
    padding: 2rem;
}

section {
    margin-bottom: 4rem;
}

section > h2 {
    margin-bottom: 2rem;
}

p {
    padding: 1rem;
}

a {
    font-weight: 500;
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: var(--secondary);
}

h1,
h2,
h3 {
    font-family: 'millenia-font', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    word-spacing: 0.3em;
    border-bottom: 4px dashed var(--text);
    border-top-left-radius: 2.2rem;
    border-bottom-left-radius: 3.3rem;
    border-bottom-right-radius: 0.5rem;
    color: var(--text);
    width: max-content;
    padding: 1rem;
    background: linear-gradient(270deg, var(--bg-dark), var(--bg-light) 70%);
}

.flexRow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.icon {
    filter: brightness(50%) sepia() hue-rotate(190deg);
}

.button {
    padding: 0.6rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--primary);
    color: var(--bg-dark);
    font-weight: 600;
    cursor: pointer;
}

.button:hover {
    color: var(--bg-dark);
    background-color: var(--secondary);
}

.badge {
    background-color: var(--bg-light);
    border: 2px solid var(--border);
    border-radius: 1rem;
    padding: 0.1rem 1.2rem;
}

.badge.success {
    background-color: var(--success);
    border-color: oklch(from var(--success) l calc(c * 3.2) h);
    color: oklch(from var(--success) calc(l * 0.4) calc(c * 3.2) h);
}

.badge.warning {
    background-color: var(--warning);
    border-color: oklch(from var(--warning) l calc(c * 3.2) h);
    color: oklch(from var(--warning) calc(l * 0.4) calc(c * 3.2) h);
}

.badge.info {
    background-color: var(--info);
    border-color: oklch(from var(--info) l calc(c * 3.2) h);
    color: oklch(from var(--info) calc(l * 0.4) calc(c * 3.2) h);
}

.products {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1rem;
}

.products h2 {
    font: unset;
    background-image: unset;
    font-size: x-large;
    padding: 0 0 0 1rem;
    border: unset;
}

.products li {
    display: flex;
    padding: 1rem;
    border: 1px solid var(--border-muted);
    border-radius: 0.8rem;
    background-color: var(--bg);
}

.products img {
    max-width: 12rem;
    max-height: 12rem;
}

.products .itemPreview {
    text-align: center;
    min-width: 12rem;
    min-height: 12rem;
}

.products .itemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products .actions {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.socials {
    display: flex;
    gap: 0.5rem;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-dark: oklch(0.92 0.025 264);
        --bg: oklch(0.96 0.025 264);
        --bg-light: oklch(1 0.025 264);
        --text: oklch(26.044% 0.10317 267.674);
        --text-muted: oklch(0.4 0.05 264);
        --highlight: oklch(1 0.05 264);
        --border: oklch(0.6 0.05 264);
        --border-muted: oklch(0.7 0.05 264);
        --primary: oklch(0.4 0.1 264);
        --secondary: oklch(0.4 0.1 84);
        --danger: oklch(0.5 0.05 30);
        --warning: oklch(0.5 0.05 100);
        --success: oklch(0.5 0.05 160);
        --info: oklch(0.5 0.05 260);
    }

    .icon {
        filter: brightness(30%) sepia() hue-rotate(190deg);
    }
}
