:root {
  --img-width: 180px;
  --small-img-width: 70px;
}

.warning {
  color: red !important;
}

.disabled {
  background-color: gray !important;
}

body {
  margin: 0;
  background-color: white;
  color: black;
  font-family: Verdana;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

header .logo {
  margin: 0px 0px 0px 10px;
  padding: 0;
  
}

header nav {
  margin-right: 10px;
}

footer {
  background-color: #213547;
  display: flex;
  justify-content: space-around;
  min-height: 100px;
  padding: 20px 50px;
}

footer .right, footer .left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h4 {
  margin: 7px 0px;
}

main {
  margin: auto 100px;
}

.product {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.product img {
  border-right: 1px solid gray;
  padding: 5px;
  min-width: var(--small-img-width);
  width: var(--small-img-width);
}

.product .productInfo {
  margin-left: 10px;
}

.product .productLink {
  display: grid;
  margin: 30px 20px 20px 0px;
  grid-template: 
    "a" 1fr
    "b" 1fr;
  width: 100px;
  margin-left: auto;
  min-width: 100px;
  font-size: 12px;
}

.linkButton {
  background-color: #213547;
  border-radius: 10px;
  color: white;
  height: 40px;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  grid-area: b;
  align-self: end;
}

.product .badge {
  grid-area: a;
  align-self: start;
  text-align: right;
}

@media(min-width: 1280px) {
  .product {
    height: 200px;
  }
  .product img {
    width: var(--img-width);
    min-width: var(--img-width);

  }
  .product .productLink {
    width: 140px;
    min-width: 140px;
  }
  
}