* {
    margin: 0;
    padding: 0;
}

:root {
    --col-text: #ffffffbb;
    --col-bg-dark: #1a1a1a;
    --col-bg: #242424;
    --col-bg-light: #4a4a4a;
    --col-border: #213547;
    --col-activate: #646cff;
    --col-activate-hover: #85a6ee;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--col-text);
    background-color: var(--col-bg);
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

a {
    font-weight: 500;
    color: var(--col-activate);
    text-decoration: inherit;
    cursor: pointer;
    transition: color 0.25s;
}

a:hover {
    color: var(--col-activate-hover);
}

body {
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--col-bg-light);
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: var(--col-activate-hover);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
    border: none;
    outline: none;
}

.hidden {
    display: none;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid var(--col-border);
    background-color: var(--col-bg-dark);
    gap: 1rem;
    padding: 1rem;
}

.counter {
    padding: 1.2rem;
    font-size: 3rem;
}

.counter .controls {
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
}

.dropdownMenu {
    width: 12rem;
    max-height: 2rem;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
    padding: 0;
}

.dropdownMenu.open {
    max-height: 16rem;
}

.dropdownMenu #toggle {
    background-color: var(--col-bg-light);
    border-bottom: 1px solid var(--col-border);
    cursor: pointer;
}

.dropdownMenu ul {
    list-style-type: none;
}

.dropdownMenu li {
    padding: 0.3rem;
}

/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */
