@import "./Mission.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --defaultBackground : rgba(221, 221, 221,0.8);
  --primaryFontFamily : "Orbitron";
}

button {
  font-family: var(--primaryFontFamily);
  font-weight: bold;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;;
  /* min-height: 100vh;  */
  height: 100%;
  top: 0;
  font-family: var(--primaryFontFamily);
  font-size: 15px;
     background-image: url("src/assets/images/listandpen.jpg");
  background-position: fixed;
  background-size: cover;



}

header {
  flex-direction: row;
  justify-content: space-between;
  
  align-items: center;
  padding: 0px 40px;
  border-radius : 8px;
  border: 2px solid black;
  position: fixed;
  width: 98%;
  height: 120px;
  top: 0;
  z-index: 10;
  background-color: var(--defaultBackground);
  margin: 15px 0px;
}

main {
  margin-top:140px;
  flex-grow: 1;
  width:100%;

}



 @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
