@import "./root.css";

body {
  /* background-color: black; */


}

.backgroundImage {

  background-image: var(--defaultBackgroundImage);
  background-size: cover;

  width:100%;
  height: 100%;
  position: fixed;

  position: fixed;
  background-repeat: no-repeat;
  filter:blur(5px) brightness(38%);
  z-index: -1;
}

.cookieImage {
  height: 200px;
}


.grid {
  display: grid;
}

.cookieDiv {
  grid-template-columns: 500px 500px;
  font-size: 15px;
  color: white;

}