@import "./root.css";
* {
  padding: 0;
  margin: 0;
}

body {
  /* background-color: black; */


}

p {
  margin: 3px;
}

.backgroundImage {

  background-image:url("/public/images/background.jpg");
  background-size: cover;

  width:100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  position: fixed;
  background-repeat: no-repeat;
  filter:blur(3px) brightness(58%);
  z-index: -1;
  
}

.cookieCard {
  display: flex;
  flex-direction: column;
   background-color: rgba(100, 100, 100, 0.8);
   padding : 10px 20px;
   align-items: center;
   justify-content: center;
   border-radius: 15px;
   -webkit-box-shadow: 11px 8px 16px 1px rgba(0,0,0,0.86); 
box-shadow: 11px 8px 16px 1px rgba(0,0,0,0.86);
}

.cookieImage {
  height:100px;
  border-radius: 50%;
  margin-bottom: 10px;
}


.grid {
  display: grid;
}

.cookieDiv {
  grid-template-columns: 500px 500px;
  justify-items: center;
  padding: 100px;
  font-size: 15px;
  color: white;
  row-gap: 40px;
  

}

.categoryText {
  color: lightskyblue;
}

.cookieInfoText {
  color: white;
}