:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

header .logo {
  margin: 0px 0px 0px 10px;
  padding: 0;
  
}

header nav {
  margin-right: 10px;
}

footer {
  background-color: #213547;
  display: flex;
  justify-content: space-around;
  min-height: 100px;
  padding: 20px 50px;
}

footer .right, footer .left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h4 {
  margin: 7px;
}

main {
  padding: 100px;

}

.product {
  display: flex;
  height: 200px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.product img {
  border-right: 1px solid gray;
}

.product .productLink {
  display: grid;
  margin: 30px 20px 20px 0px;
  grid-template: 
    "a" 1fr
    "b" 1fr;
}

.warning {
  color: red;
}

.linkButton {
  background-color: #213547;
  border-radius: 10px;
  color: white;
  height: 40px;
  font-size: 12px;
}

.disabled {
  background-color: gray;
}

.product .badge {
  grid-area: a;
  align-self: start;
  text-align: right;
}
.product .linkButton {
  grid-area: b;
  align-self: end;
  font-size: 16px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

#root {
  max-width: 1280px;
  /* margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}