.grid {
    display: grid;
}

.flex {
    display: flex;
}

.regButtonWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 98%;
}

.missionListSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    margin-top:15px;


}

.addMissionButton {
    /* padding : 15px 90px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 67px;
    border-radius: 5px;
  /* animation: rotatIn 0.3s ease-in-out; */
    transition: all ease-in-out 0.3s;
    white-space: pre-line;
    font-size: 15px;
}

.addMissionButton:hover {
    border-color : rgb(11, 52, 11);
    border: 2px solid rgb(224, 50, 50);

    transform : rotateX(360deg);

}

.duplicate {
    animation: rotatIn 0.3s ease-in-out;
    font-size: 12px;
    color: red;
}

@keyframes rotateIn 
{
    0% { transform: rotateY(90deg);}
    100% { transform: rotateY(0deg);}  
}

.textLabelText {

    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    color : darkred;

}

.textLabelDate {
    color : darkblue;
}


.textLabelPriority {
    color : rgb(8, 22, 8);
}

.inputPriority, .inputText, .inputDate {
    margin-left : 10px;
    padding: 2px 4px;
    /* font-family: ""; */

}

.inputPriority, .inputDate {
    width:fit-content;
}

.inputText {
    width: 65%;
    
}


.defaultForm {
    grid-template-columns: auto auto auto;
    align-items: center;
    

    width : 98%;
    column-gap: 15px;
    background-color: rgb(221, 221 221, 1);
    border : 2px solid red;
    border-radius : 8px;
    padding : 20px 20px;
    background-color: var(--defaultBackground);
}

.missionListItem {
    display: grid;
    width: 100%;
    grid-template-columns: 15% 80% auto;
    justify-items:left;


       
}

.missionListArticle {
    border-radius : 5px;
    border : 2px solid darkblue;
    width:98%;
    padding: 5px 10px;
    background-color: var(--defaultBackground);

}

.missionList {
    flex-direction: column;
     gap : 10px;
    padding : 10px 20px;
 

}
