.grid {
    display: grid;
}

.flex {
    display: flex;
}

.missionListSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    margin-top:15px;


}

.addMissionButton {
    padding : 15px 90px;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
    font-size: 15px;
}

.addMissionButton:hover {
    border-color : rgb(11, 52, 11);
    border: 2px solid rgb(224, 50, 50);

    transform : rotateX(360deg);

}

.textLabelText {

    color : darkred;
}

.textLabelDate {
    color : darkblue;
}


.textLabelPriority {
    color : rgb(8, 22, 8);
}

.inputPriority, .inputText, .inputDate {
    margin-left : 10px;
    padding: 2px 4px;

}

.inputPriority, .inputDate {
    width:fit-content;
}

.inputText {
    width : 12rem;
}


.defaultForm {
    grid-template-columns: 60% auto auto;
    align-items: center;
    justify-content: left;
    width : 98%;
    column-gap: 15px;
    background-color: rgb(221, 221 221, 1);
    border : 2px solid red;
    border-radius : 8px;
    padding : 10px 20px;
    background-color: rgba(250, 250, 250, 0.8);
}

.missionListItem {
    display: grid;
    width: 100%;
    grid-template-columns: auto 85% auto;
    justify-items:left;


       
}

.missionListArticle {
    border-radius : 5px;
    border : 2px solid darkblue;
    width:98%;
    padding: 5px 10px;
    background-color: rgba(250, 250, 250, 0.8);

}

.missionList {
    flex-direction: column;
     gap : 10px;
    padding : 10px 20px;
 

}
