* {    
    padding: 0 0;
}

.productSection {
    flex-direction: column;
    gap:25px;
    background-color: rgb(246, 250, 244);
    padding : 40px 20px;
    background-image: url("src/assets/images/background2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}
.productImageTextWrapper {
    grid-template-columns: 120px 220px;
    align-items: center;
    justify-items: left;
}

.productCardDiv {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 20px 10px;
    width: 40%;
    background-color: rgba(0,0,0, 0.8);
    border-radius: 10px;
    border : 3px solid rgb(0, 0, 0);
        
    
}

.productImg {
    height: 100px;
    
}

.productInfoWrapper {
    flex-direction: column;
    gap: 5px;
    align-items: left;
}

.productName {
    color:white;
    font-size : 20px;
    font-weight: bolder;
}

.productDescription {
    font-size: 12px;
    font-weight: normal;
    /* width: 70%; */
}

.productPrice {
    color: darkcyan;
    font-size : 14px;
    margin-top: 10px;
}

.buttonStatusWrapper {
    grid-template-areas:  "statusBadge"
                          "availability";
    width: 100px;
    align-items: self-end;
    
}

.linkInStock, .linkUnavailable {
    
    justify-content: space-between;
    background-color: rgb(233, 226, 226);
    color : rgb(0, 0, 0);
    border-radius: 5px;
    padding : 10px 10px;    
    font-size : 10px;
    grid-area : availability;
    
    
}

.linkInStock {
  
}

.linkUnavailable{
    color:  rgba(127, 113, 113, 0.4);
    /* background-color:  rgb(233, 226, 216);; */
}

.outOfStockBadge {
    padding: 3px 10px;;
    width: 100px;
    font-size: 12px;
    background-color: inherit;
    color: red;
    grid-area : statusBadge;
    align-self: self-start;
    

}

.spanArrow {
    justify-self: start;
}