* {    
    padding: 0 0;
}

.productImageTextWrapper {
    gap: 20px;
}

.productCardDiv {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 20px 10px;
    width: 40%;
    background-color: black;
    border-radius: 10px;
    
}

.productImg {
    height: 100px;
}

.productInfoWrapper {
    flex-direction: column;
    gap: 5px;
    align-items: left;
}

.productName {
    color:white;
    font-size : 20px;
    font-weight: bolder;
}

.productDescription {
    font-size: 12px;
    font-weight: normal;
    width: 70%;
}

.productPrice {
    color: darkcyan;
    font-size : 14px;
    margin-top: 10px;
}

.buttonStatusWrapper {
    grid-template-areas:  "statusBadge"
                          "availability";
    width: 100px;
    align-items: self-end;
    
}

.linkInStock, .linkUnavailable {
    
    justify-content: space-between;
    background-color: rgb(233, 226, 226);
    color : rgb(17, 16, 16);
    border-radius: 5px;
    padding : 10px 10px;    
    font-size : 10px;
    grid-area : availability;
    
}

.linkUnavailable{
    color:  rgba(17, 16, 16, 0.5);
}

.outOfStockBadge {
    padding: 3px 10px;;
    width: 100px;
    font-size: 10px;
    background-color: inherit;
    color: red;
    grid-area : statusBadge;
    

}

.spanArrow {
    justify-self: start;
}