* {    
    padding: 0 0;
}

.productCardDiv {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}

.productImg {
    height: 100px;
}

.productInfoWrapper {
    flex-direction: column;
    gap: 2px;
    align-items: left;
}

.productName {
    color:white;
    font-size : 20px;
    font-weight: bolder;
}

.productDescription {
    font-size: 15px;
    font-weight: normal;
}

.procductPrice {
    color: darkcyan;
}

.buttonStatusWrapper {
    flex-direction: column;
    justify-content: space-between;
}

.linkInStock {
    background-color: black;
    border-radius: 5px;
    padding : 10px 20px;    
}

.linkUnavailable
{

}