.sortMenu
{
    flex-direction: column;
    justify-content: left;
    padding-bottom: 15px;
    position:fixed;
    z-index: 11;
    bottom : 125px;
    right: 125px;
    background-color: var(--defaultBackground);
    border : 2px solid black;
    transition: all 0.7s ease-in-out;
    transform: rotateY(90deg);
    background-color:rgb(240, 240, 240);
    cursor: pointer;
     border-radius: 5px;
   -webkit-box-shadow: 6px 9px 16px 0px rgba(0,0,0,0.95); 
    box-shadow: 6px 9px 16px 0px rgba(0,0,0,0.95);
}

.sortMenuHeading {
    border-bottom : 2px solid black;
    padding: 10px 20px;
    font-size: 11px;
    margin: 0;
    color: darkblue;
}

.sortList
{   
    margin-top : 10px;
    flex-direction: column;
    justify-content: left;

    list-style: none;
    font-size: 12px;

}

.sortListItem {
    font-size: 10px;
    padding: 3px 0px;
    transition: all 0.2s ease;
}

.sortListItem:hover {
    color: rgb(81, 81, 144);
    scale: 1.01;
}

.toggleText {
    color : black;
    font-size: 8px;
    margin: 9px 0px;
}

.toggleKeys {
    color : darkred;
    font-size: 8px;
}

