.sortMenu
{
    flex-direction: column;
    padding: 10px 20px;
    position: fixed;
    z-index: 11;
    top : 200px;
    right: 40px;
}

.sortList
{
    flex-direction: column;
    list-style: none;
    font-size: 12px;

}

