.styledSection {
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    background-image: url("src/assets/images/backgroundApple.jpeg");
    background-size: contain;
    background-position: center;
    background-attachment: fixed;

}

.alternativesDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:25px;
    background-color: transparent;
    padding : 40px 20px;

}

.alternativesTitle {
    font-size: 30px;
    font-weight: bolder;
    color: rgb(221, 221, 221);

}

.alternativesText {
    font-size: 18px;
    color : rgb(221, 221, 221);
}