.defaultButton {
    padding : 10px 20px;
    background-color: rgb(102, 137, 168);
    color: black;
}

.defaultLink {
    color: rgb(23, 102, 129);
    padding: 10px 20px;
    background-color: azure;
}