/*     level: "success" | "warning" | "info",  */

.success {
    background-color: rgb(121, 165, 121);
}

.warning {
    background-color: rgb(248, 164, 85);
}

.info {
    background-color: rgb(159, 161, 220);
}